<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>data</title>
  </head>
  <body>
    <div class="data-flex-box">
      <div class="flex-item">
        <div id="descrTitle"><%=title%></div>
        <button onclick="copyTitle()"></button>
      </div>
      <div class="flex-item data">
        <div id="descrData"><%=finalData%></div>
        <button onclick="copyData()"></button>
      </div>
    </div>
    <script>
      function copyData() {
        navigator.clipboard.writeText(
          document.getElementById("descrData").innerText
        );
      }
      function copyTitle() {
        navigator.clipboard.writeText(
          document.getElementById("descrTitle").innerText
        );
      }
    </script>
  </body>
</html>
