<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>generate temp</title>
  </head>
  <body>
    <form action="/data" method="post">
      <label>Enter URL: </label>
      <input name="pageUrl" type="text" />
      <label>Enter Download Link: </label>
      <input name="downloadLink" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
